# python
*.pyc
# env
.ropeproject
*.swp
.DS_Store
tags
# data
upload
*.sqlite
# cache
cache
server/upload
server/rendered
# external files
external
# compiled coffee scripts
frontend/static/coffee/*.js
# others
browser

