# python
*.pyc
# env
.ropeproject
*.swp
*.swo
.DS_Store
tags
# data
upload
*.sqlite
# cache
cache
server/upload
server/render
# external files
external
# compiled coffee scripts
frontend/static/coffee/*.js
# others
browser

