<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>ShareRead - A Collaborative Paper Reading Experience.</title>

		<!-- Google web fonts -->

		<!-- The main CSS file -->
		<link href="css/chosen.css" rel="stylesheet" />
		<link href="css/recents.css" rel="stylesheet" />

		<!-- JavaScript Includes -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.knob.js"></script>

		<!-- Underscore Functional Programming -->
		<script src="js/underscore-min.js"></script>		

		<!-- Mustache Templating Engine -->
		<script src="js/mustache.min.js"></script>
	</head>

	<body>
		<div class="container">
			<ul id="recents-container" class="recents-container">
			</ul>
		</div>
		 
        <script src="js/chosen.jquery.min.js"></script>

		<!-- Our main JS file -->
		<script src="js/client.js"></script>
		<script src="js/recents.js"></script>
	</body>
</html>