<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Upload your document.</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="css/upload.css" rel="stylesheet" />

		<!-- JavaScript Includes -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="js/jquery.ui.widget.js"></script>
		<script src="js/jquery.iframe-transport.js"></script>
		<script src="js/jquery.fileupload.js"></script>

		<!-- Mustache Templating Engine -->
		<script src="js/mustache.min.js"></script>
	
		<style type="text/css">
			html, body {
				width: 100%;
				height: 100%;
				position: relative;
			}
			.recents-upload {
				margin: 0px 0px 0px 0px !important;
				box-sizing: border-box;
				padding: 100px 100px 100px 100px !important;
				width: 100% !important;
				height: 100% !important;
				position: absolute;
			}

			.recents-upload ul {
				width: 100% !important;
			}

			.recents-upload #drop {
				height: 200px;
			}
		</style>

	</head>

	<body>

		<form id="upload" method="post" class="recents-upload" action="upload-submit" enctype="multipart/form-data" >
			<div id="drop">
				Drop Here

				<!-- <a>Browse</a> -->
				<input type="file" name="upl" multiple />
			</div>

			<ul>
				<!-- The file uploads will be shown here -->
			</ul>

		</form>

		<div>
			<h1>main</h1>
			<button type="button" onclick="alert('hi');">Click Me!</button>
		</div>

		<!-- Our main JS file -->
		<script src="coffee/upload.js"></script>
	</body>
</html>