* {margin: 0; padding: 0;}


.recents-item {
  overflow: visible;
}

.recents-item .recents-file-thumbnail {
  border: solid;
  border-width: 1px;
  border-color: gray;
  height: 75px;
}

.recents-item .anchor {
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  color: black;
}

.recents-file-meta {
  position: relative;
}

.recents-item-filename {
  overflow: hidden;
  text-overflow: ellipsis;
  font: bold 15px Helvetica, Verdana, sans-serif;
  border: none;
  position: relative;
  width: 650px;
  outline: 0;
  background-color: transparent;
}

.recents-item-filename:hover {
    background-color: #ffffff;
}

.recents-item-filename:focus {
    background-color: #ffffff;
}


.recents-details-hide {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 0.0;
}

.recents-details-show {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 1.0;
}

div.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
 
ul {
  list-style-type: none;
  width: 800px;
}
 
 
li img {
  float: left;
  margin: 0 15px 0 0;
  width: 50px;
  height: auto;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  height: 50px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

.chosen-select {
  width: 700px;
}

.chosen-container-multi .chosen-choices {
  height: 25px !important;
  padding-right: 0px;
  padding-left: 0px;
  border: none;
  background-image: none;
  background-color: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
  height: 18px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  position: relative;
  top: 4px;
  left: 2px;
}

.chosen-results {
  width: 100%;
}

.chosen-results > li{
  height: 12px;
}

.chosen-results > li .hightlighted{
  height: 12px;
}

.chosen-drop {
  position: relative;
  border: none;
  z-index: 100;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  background-color: white !important;
}

/* searchbar */
.searchbar {
  width: 100%;
}

.searchbar-select {
  width: 100%;
}

/* glyphicon modifications */
.glyphicon-red {
  color: red;
}