<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="google-signin-client_id" content="946381935150-16tsmb8ko4ifhf1bev0s1eqnjkcnrc4i.apps.googleusercontent.com">

		<title>ShareRead - A Collaborative Paper Reading Experience.</title>

		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<!-- jQuery Includes -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.knob.js"></script>
	</head>

	<body>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>

		<script>
		function onSignIn(googleUser) {
		  var profile = googleUser.getBasicProfile();
		  var googleid = profile.getId();
		  var access_token = googleUser.getAuthResponse().id_token;
		  var name = profile.getName();
		  var email = profile.getEmail();
		  var image_url = profile.getImageUrl();
		  console.log('ID: ' + googleid); // Do not send to your backend! Use an ID token instead.
		  console.log('Token: ' + access_token);
		  console.log('Name: ' + name);
		  console.log('Image URL: ' + image_url);
		  console.log('Email: ' + email);
		  user.authorize_google(googleid, name, email, access_token, image_url);
		  window.location.href = 'home'
		}
		</script>
		<script src="coffee/user.js"></script>
	</body>
</html>