<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>ShareRead - A Collaborative Paper Reading Experience.</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- viewer CSS file -->
		<link href="/css/view.css" rel="stylesheet" />

		<!-- JavaScript Includes -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.knob.js"></script>

		<!-- Underscore Functional Programming -->
		<script src="/js/underscore-min.js"></script>		
	
		<!-- Mustache Templating Engine -->
		<script src="/js/mustache.min.js"></script>
		
	</head>

	<body>
		<div class='view-header-container'>
			<div class='view-header'>
				<div class='view-header-title'>{{meta['filename']}}</div>
				
				<!-- toolbar -->
				<div id="toolbar">
					Comments
					<!-- TODO: make a dropdown Tools for more functions like Share -->
				</div>
			</div>
		</div>


		<!-- main recents container -->
		<div class="view-body">
		</div>

		<!-- comments container -->
		<div id="comments" class="comments-container">
		</div>

		<!-- Our main JS file -->
		<script src="/coffee/client.js"></script>
		<script>
		client.fetchHTMLView('{%raw static_url%}', function(response) {
			console.log('resp', response);
			$('.view-body').html(response);
		});
		</script>
		
		<!-- Comments Module -->
		<script src="/coffee/comments.js"></script>
	</body>
</html>